{% extends "strata-odcudzenie/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    {{serviceName}}
  </h1>
  <p>
    Stratu alebo odcudzenie dokladov je nutné bezodkladne ohlásiť ktorémukoľvek útvaru Policajného zboru, alebo zastupiteľskému úradu SR v zahraničí, ak sa nachádzate mimo územia Slovenskej republiky.
  </p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Momentom ohlásenia straty/krádeže sa stáva doklad neplatný, čo znamená, že ho nie je možné ďalej používať, a to ani v prípade, že sa doklad neskôr nájde.
  </strong>
</div>

  <p>
    Z ľavého menu si vyberte návod pre doklad, ktorý ste stratili alebo Vám ho odcudzili.
  </p>

{% endblock %}
