{% extends "strata-odcudzenie/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    Strata cestovného dokladu
  </h1>
  <h2 class="govuk-heading-m">Strata cestovného dokladu na Slovensku</h2>
  <p>
    Pri strate alebo odcudzení pasu na území Slovenskej republiky ste povinný jeho stratu bezodkladne nahlásiť orgánu ktorý pas vydal, alebo ktorémukoľvek útvaru policajného zboru.
  </p>
  <h2 class="govuk-heading-m">Strata cestovného dokladu v zahraničí</h2>
  <p>
    Pri strate pasu v zahraničí, ste povinný túto skutočnosť bezodkladne Zastupiteľskému úradu SR v danej krajine. Ak nemáte iný platný cestovný doklad, požiadajte zastupiteľský úrad Slovenskej republiky o vydanie náhradného cestovného dokladu na návrat do Slovenskej republiky. Ak v danej krajine nie je zastupiteľský úrad Slovenskej republiky, môžete požiadať o vydanie náhradného cestovného dokladu EÚ ktorýkoľvek zastupiteľský úrad štátu EÚ. Urýchliť tento proces môže fotokópia cestovného dokladu, je preto dobré ju pre tieto prípady mať so sebou pri ceste do zahraničia.
  </p>

<div class="govuk-inset-text">
  <b> Zoznam zastupiteľských úradov Slovenskej republiky nájdete <a href="http://www.mzv.sk/ministerstvo/slovenske_zastupitelstva-vsetky_zastupitelstva" target="_blank">tu.</a></b>
</div>
  <p>
    Po návrate do Slovenskej republiky ste povinný stratu bezodkladne nahlásiť orgánu, ktorý doklad vydal. Aj v prípade ak ste stratu nahlasovali zastupiteľskému úradu SR v zahraničí. Je potrebné priložiť doklad o strate od orgánu, kde bola nahlásená (ak je v inom ako slovenskom alebo českom jazyku, je potrebný preklad do štátneho jazyka).
  </p>

  <h2 class="govuk-heading-m">Sankcie a poplatky</h2>
  <p>
    Ak neohlásite bezodkladne stratu, odcudzenie, poškodenie alebo zneužitie cestovného pasu, dopustíte sa priestupku, za ktorý vám môže byť uložená pokuta až do výšky 331 eur.
  </p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              Poplatky za vydanie nového cestovného dokladu sa líšia poďla žiadateľa a doby čakania.
              </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            <b>Občan starsí ako 16 rokov zaplatí za vydanie nového cestovného dokladu:</b>
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>do  30 dní 33 € </li>
            <li>do 10 pracovných dní 66 €</li>
            <li>do 2 pracovných dní 99 €.</li>
          </ul>
          <p>
            Prehľad roznych kategórií poplatkov nájdete na stránke <a href="https://www.minv.sk/?spravne-poplatky" target="_blank">ministerstva vnútra.</a>
          </p>

        </div>
      </details>

{% endblock %}
