{% extends "strata-odcudzenie/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    Strata alebo odcudzenie vodičského preukazu
  </h1>
  <p>
    Nahlásenie straty alebo odcudzenia vodičského preukazu je potrebné urobiť osobne do siedmych dní na dopravnom inšpektoráte, následne je potrebné si požiadať
    o vystavenie nového preukazu na ktoromkoľvek oddelení dokladov okresného riaditeľstva PZ.
  </p>
  <p>
    Poplatok za vydanie nového vodičského preukazu je 13 €.
  </p>
  <h1 class="govuk-heading-m">
    Strata alebo odcudzenie vodičského preukazu v zahraničí
  </h1>
  <p>
    Stratu vodičského preukazu v zahraničí je potrebné nahlásiť na miestnu políciu a následne na Zastupiteľskom úrade,
    ten kontaktuje príslušné orgány na SR a overí, či disponujete platným vodičským oprávnením.
    Na základe informácií z konzulátu Vám miestna polícia môže vystaviť dočasný doklad platný v danej krajine.
    Ak prechádzate po ceste domov inými krajinami, je potrebné overiť, či budú akceptovať tento dočasne vydaný doklad.
    Dočasné doklady o vodičskom oprávnení sa automaticky neuznávajú v iných ako krajinách EÚ.
    O nový vodičský preukaz môžete požiadať iba v krajine, v ktorej máte vedený pobyt.
  </p>

{% endblock %}
