{% extends "zalozenie-zivnosti/layout_step_by_step_nav.html" %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">
    Aktivujte si e-schránku
  </h1>
  
  <h3 class="govuk-heading-m">
    Prihláste sa do <a href="https://www.slovensko.sk/sk/titulna-stranka" target="_blank"> slovensko.sk </a> 
  </h3>

  <p>
    Elektronická schránka sa Vám neaktivuje automaticky. Preto je potrebné, aby ste navštívili stránku <a href="https://www.slovensko.sk/sk/titulna-stranka" target="_blank"> slovensko.sk </a> , kde nájdete tlačidlo pre prihlásenia sa do portálu. Pre prihlásenie sa do elektronickej schránky je potrebné, aby ste mali pripojenú čítačku s eID k počítaču. Po tom, čo sa Váš počítač spáruje s čítačkou eID, zobrazí sa Vám dialógové okno so žiadosťou o zadanie BOK a ZEP PIN. 

  </p>
  
  <h3 class="govuk-heading-m">
    Vykonajte aktiváciu elektronickej schránky
  </h3>

  <p>
    Hneď po prihlásení do portálu sa Vám zobrazí elektronická schránka (inbox), ktorá však ešte stále nie je aktivovaná. 
  </p>
  <p>
    Pre aktiváciu musíte kliknúť na tlačidlo “Aktivovať elektronickú schránku”. Do dvoch dní by Vám mala do schránky prísť správa z Úradu vlády SR s potvrdením, že je schránka aktivovaná. 
  </p>

<div class="govuk-inset-text">
  Ak si už raz aktivujete elektronickú schránku, štát Vám bude zasielať úradnú komunikáciu výhradne cez slovensko.sk
</div>

  <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Tip: Zadanie diskrétneho údaju
        </span>
      </summary>
    <div class="govuk-details__text">
    <p>
    V elektronickej službe MV SR s názvom <a href="https://portal.minv.sk/wps/wcm/connect/sk/site/main/zivotne-situacie/menu-doklady/do-modifikacia/" target="_blank"> Modifikácia kontaktných údajov v informačnom systéme dokladov - občianske preukazy </a> si viete zadať tzv. diskrétny údaj. Ten využijete v prípade straty dokladov a nahlasovanie straty eID online. 
    </p> 
    </div>
  </details> 

{% endblock %}