{% extends "trvaly-pobyt/layout_step_by_step_nav.html" %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">
    Kataster
  </h1>

  <p>
    Podáva sa voľne formulovaný text, cez Všeobecné podanie na Kataster
    {{ govukDetails({
      summaryText: "Všeobecné podanie na Kataster",
      text: "Žiadosť o zmenu údajov v katastri nehnuteľností v zmysle § 43 vyhlášky ÚGKK SR č. 461/2009 Z. z., ktorou sa vykonáva zákon NR SR č. 162/1995 Z. z. o katastri nehnuteľností a o zápise vlastníckych a iných práv k nehnuteľnostiam (katastrálny zákon) v znení neskorších predpisov"
    }) }}
  
    
  </p>


      <p>
        Potrebujete
        <ul class="govuk-list govuk-list--bullet">
          <li>Elektronický občiansky preukaz s novým trvalým pobytom</li>
        </ul>
      </p>



  <p>Príklad znenia textu pre GKU:</p>

  <div style="border: gray 5px solid; margin: 10px; padding: 20px;">
      <p><strong>Žiadosť o zmenu údajov v katastri nehnuteľností</strong></p>

      <p contenteditable="true">
        Majiteľ nehnuteľnosti - identifikačné údaje žiadateľa: 
      </p>
      <p contenteditable="true">
        Meno Priezvisko/Názov:
      </p>
      <p contenteditable="true">Adresa:</p>
      <p contenteditable="true">r.č./IČO:</p>
      <p contenteditable="true">e-mail:</p>


      <p>
        <b>Katastrálne územie</b>
      </p>
      <p>
      Zmena sa týka nehnuteľností v katastrálnom území <i contenteditable="true">[katastralne&nbsp;uzemie]</i>, zapísané na LV č. <i  contenteditable="true">[cislo&nbsp;lv]</i> (vypísať zoznam LV ak je viac). 
    </p>

    <p><b>Požadované zmeny</b></p>
      
      <p>Požadujeme zapísať zmenu trvalého pobytu nasledovne:</p>
      <p><b>Pôvodný údaj:</b></p>
      <p  contenteditable="true">titul pred. Meno Priezvisko titul po</p>
      <p  contenteditable="true">Adresa a PSČ</p>

      <p><b>Nový údaj:</b></p>
      <p  contenteditable="true">titul pred. Meno Priezvisko titul po</p>
      <p  contenteditable="true">Adresa a PSČ</p>
  </div>

  
  {{ govukButton({
    text: "Všeobecné podanie na Kataster",
    href: "https://schranka1.slovensko.sk/FormConstructor/Default.aspx?IdService=2086",
    classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
  }) }}

  
  <h2 class="govuk-heading-l">Súvisiace odkazy</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://platforma.slovensko.digital/t/zmena-trvaleho-pobytu-v-katastri/3266" class="govuk-link">Zmena trvaleho pobytu v katastri - Platforma Slovensko.digital</a> (externý zdroj)</li>
  </ul>


{% endblock %}