{% extends "trvaly-pobyt/layout_step_by_step_nav.html" %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">
      Obchodný register
  </h1>

  <p>POZOR - kroky s určenou lehotou (a prípadnou sankciou za nesplnenie lehoty) na oznámenie zmeny trvalého pobytu</p>

  <p>
    Zmenu trvalého pobytu urobíte cez slovensko.sk ktore vas nasmeruje na portal ministerstva vnutra
  </p>

  <p>
    Potrebujete
    <ul class="govuk-list govuk-list--bullet">
      <li>Elektronický občiansky <a>(link na ZS Vytvorenie a aktivacia)</a></li>
    </ul>
  </p>
  
  {{ govukButton({
    text: "Zmena údajov v obchodnom registri",
    href: "https://www.slovensko.sk/sk/detail-sluzby?externalCode=OR_48033",
    classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    attributes: {target: '_blank'}
  }) }}


  <p>
    Skoncili ste s prihlásením cez slovensko.sk? Vybavte si nový občiansky preukaz.
  </p>

  {{ govukButton({
    text: "Ďalší krok",
    href: serviceUrl + "/zivnost",
    classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
  }) }}
{% endblock %}