{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
    {{serviceName}}
</h1>
<h2>
    Vybavenie potvrdenia o OP
</h2>

<ul>
    <li>Na vyzvanie sa treba osobne dostaviť na PZ spísať zápis o strate, prevziať potvrdenie o OP, zápis do evidencie stratených a odcudzených dokladov.</li>
    <li>Na príslušnom útvare Policajného zboru alebo na zastupiteľskom úrade vám bude vydané potvrdenie o občianskom preukaze, ktoré dočasne slúži ako náhrada dokladu a zároveň sa predkladá na vyhotovenie nového občianskeho preukazu, maximálne však 90 dní.</li>
</ul>


{% endblock %}
