{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">
    {{serviceName}}
  </h1>



Pre nahlásenie straty alebo odcudzenia občianskeho preukazu elektronicky potrebujete poznať svoj diskrétny údaj, ktorý ste si zadefinovali pri aktivácii občianskeho preukazu alebo prostredníctvom elektronickej služby Modifikácia kontaktných údajov do Informačného systému agendy občianskych preukazov.
Na webovej stránke ministerstva vnútra. Formulár pre nahlásenie nájdete tu.https://portal.minv.sk/wps/wcm/myconnect/sk/site/main/zivotne-situacie/menu-doklady/strata_odcudzenie_obciansky_preukaz_s_cipom/
pozn. ak som prihlásený cez eid, tento link ma presmeruje na nahlásenie diskrétneho udaju (zjavne som svoj obciansky nestratil, kedze som sa nim prave prihlasil). Inak nasleduje tento formular:
Zadajte Dôvod nahlásenia straty občianskeho preukazu
Zadajte do príslušných koloniek svoje osobné údaje
Zadajte svoj diskrétny údaj.
Text z obrázku zadajte do kolonky Ochranný kód.
Kliknite na pokračovať
Krok 2:

KROK 3 pravdepodobne to bude len potvrdenie, že OP bol zablokovaný

Certifikáty budú automaticky zrušené
O výsledku je občan informovaný správou v elektronickej dátovej schránke. Zvyčajne sa to stane takmer okamžite po nahlásení straty.

Warning: Ak ste nahlásili stratu alebo odcudzenie občianskeho preukazu, tento občiansky preukaz sa týmto stáva neplatným. Ani v prípade, že nahlásený občiansky preukaz dodatočne získate, nemôžte ho používať a je potrebné ho odovzdať príslušnému úradu.

Na vyzvanie sa treba osobne dostaviť na PZ spísať zápis o strate, prevziať potvrdenie o OP, zápis do evidencie stratených a odcudzených dokladov
Na príslušnom útvare Policajného zboru alebo na zastupiteľskom úrade vám bude vydané potvrdenie o občianskom preukaze, ktoré dočasne slúži ako náhrada dokladu a zároveň sa predkladá na vyhotovenie nového občianskeho preukazu, maxi. však 90 dní.


{% endblock %}
