{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
    {{serviceName}}
</h1>
<h1 class="govuk-heading-m">
    Nahlásenie straty osobne:
</h1>
<p>
    Nahlásiť stratu alebo odcudzenie občianskeho preukazu je možné ktorémukoľvek útvaru policajného zboru, okresnému riaditeľstvu alebo okresnému úradu.
</p>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Pri nahlasovaní straty resp. odcudzenia občianskeho preukazu s čipom, na ktorom sú nahraté certifikáty slúžiace pre
        kvalifikovaný elektronický podpis, nezabudnite požiadať ktorékoľvek okresné riaditeľstvo o
        <strong>zrušenie všetkých certifikátov</strong>.
        Zároveň vám odporúčame priniesť si so sebou kópiu Zmluvy o vydaní a prevzatí certifikátov na
        občianskom preukaze s čipom, kde máte uvedené číslo občianskeho preukazu s čipom. Na okresnom riaditeľstve
        Policajného zboru vám na základe žiadosti zrušia všetky certifikáty na identifikovanom občianskom preukaze s čipom a
        zablokujú ho pre ďalšie vydávanie certifikátov.
    </span>
</div>
<h1  class="govuk-heading-m">
Nahlásenie straty elektronicky:
</h1>

<p>
    Elektronicky sa dá nahlásiť len strata občianskeho preukazu s čipom
</p>

<p>
    Pre nahlásenie straty alebo odcudzenia občianskeho preukazu elektronicky potrebujete poznať svoj <b>diskrétny údaj</b>,
    ktorý ste si zadefinovali pri aktivácii občianskeho preukazu alebo prostredníctvom elektronickej služby
    <i>Modifikácia kontaktných údajov</i> do Informačného systému agendy občianskych preukazov.
</p>
<p>
    Všetky certifikáty budú automaticky zrušené.
</p>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Upozornenie</span>
        Ak ste nahlásili stratu alebo odcudzenie občianskeho preukazu, tento občiansky preukaz sa týmto stáva neplatným.
        Ani v prípade, že nahlásený občiansky preukaz dodatočne získate, nemôžte ho používať a je potrebné ho odovzdať
        príslušnému úradu.
    </strong>
</div>


{% endblock %}
