{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
    {{serviceName}}
</h1>
<h2>
    Nahlásenie straty
</h2>

<h3>
    Osobne
</h3>

<p>
    Ktorémukoľvek útvaru policajného zboru, okresnému riaditeľstvu alebo okresnému úradu.
</p>
<p>
    Pri nahlasovaní straty resp. odcudzenia občianskeho preukazu s čipom, na ktorom sú nahraté certifikáty slúžiace pre
    kvalifikovaný elektronický podpis, nezabudnite požiadať ktorékoľvek okresné riaditeľstvo o
    <strong>zrušenie všetkých certifikátov</strong>.
    Zároveň vám odporúčame priniesť si so sebou kópiu Zmluvy o vydaní a prevzatí certifikátov na
    občianskom preukaze s čipom, kde máte uvedené číslo občianskeho preukazu s čipom. Na okresnom riaditeľstve
    Policajného zboru vám na základe žiadosti zrušia všetky certifikáty na identifikovanom občianskom preukaze s čipom a
    zablokujú ho pre ďalšie vydávanie certifikátov.
</p>


</p>
<h3>
    Elektronicky
</h3>
<p>
    Elektronicky sa dá nahlásiť len strata občianskeho preukazu s čipom
</p>

<ul>
    <li>
        Pre nahlásenie straty alebo odcudzenia občianskeho preukazu elektronicky potrebujete poznať svoj diskrétny údaj,
        ktorý ste si zadefinovali pri aktivácii občianskeho preukazu alebo prostredníctvom elektronickej služby
        <strong>Modifikácia kontaktných údajov</strong> do Informačného systému agendy občianskych preukazov.

    </li>
    <li>
        Na webovej stránke ministerstva vnútra. Formulár pre nahlásenie nájdete <a
            target="_blank"
            title="Odkaz na formulár. Otvorí sa v novom okne"
            href="https://portal.minv.sk/wps/wcm/myconnect/sk/site/main/zivotne-situacie/menu-doklady/strata_odcudzenie_obciansky_preukaz_s_cipom/">tu</a>.
    </li>
    <li>
        Vyplňte formulár a na druhej strane formulátu potvrďte žiadosť.
    </li>

    <li>
        Certifikáty budú automaticky zrušené
    </li>
    <li>O výsledku je občan informovaný správou v elektronickej dátovej schránke. Zvyčajne sa to stane takmer okamžite
        po nahlásení straty.
    </li>


</ul>


<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Upozornenie</span>
        Ak ste nahlásili stratu alebo odcudzenie občianskeho preukazu, tento občiansky preukaz sa týmto stáva neplatným.
        Ani v prípade, že nahlásený občiansky preukaz dodatočne získate, nemôžte ho používať a je potrebné ho odovzdať
        príslušnému úradu.
    </strong>
</div>


{% endblock %}
