{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
    Poplatky
</h1>
<table class="govuk-table">
    <caption class="govuk-table__caption"></caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Detail</th>
        <th class="govuk-table__header" scope="col">Poplatok</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Podanie žiadosti o vydanie občianskeho preukazu ako náhrady za zničený, stratený, odcudzený alebo poškodený občiansky preukaz</th>
        <td class="govuk-table__cell">16,50 €</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Podanie žiadosti o vydanie občianskeho preukazu ako náhrady za zničený, stratený, odcudzený alebo poškodený občiansky preukaz
            opakovane v priebehu 2 za sebou nasledujúcich rokov</th>
        <td class="govuk-table__cell">33 €</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Podanie žiadosti o expresné vydanie občianskeho preukazu
            do 2 pracovných dní</th>
        <td class="govuk-table__cell">20 € + základný poplatok*</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Doručenie občianskeho preukazu na adresu na území Slovenskej republiky</th>
        <td class="govuk-table__cell">3 € + základný poplatok*</td>
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row"> Pokuta za neohlásenie zničenia, poškodenia, straty, odcudzenia alebo zneužitia občianskeho preukazu</th>
        <td class="govuk-table__cell">33 €</td>
    </tr>
    </tbody>
</table>
<p>
    *základný poplatok = 4,50 €
</p>
<p>
Oslobodení (doplniť)
</p>
<p>

občania starší ako 60 rokov alebo držitelia preukazu občana s ťažkým zdravotným postihnutím,
občania starší ako 60 rokov alebo držitelia preukazu občana s ťažkým zdravotným postihnutím
aj v prípade opakovanej žiadosti o vydanie nového občianskeho preukazu v priebehu 2 za sebou nasledujúcich rokov.

</p>

{% endblock %}
