{% extends "strata-odcudzenie/op/layout_step_by_step_nav.html" %}
{% block pageTitle %} {{serviceName}} {% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">
    Vystavenie nového občianskeho preukazu
</h1>
<h1 class="govuk-heading-m">
    O vystavenie nového občianskeho preukazu je potrebné požiadať do 30 dní.
</h1>

<p>
    Nezabudnite, že pri podávaní žiadosti o vydanie nového občianskeho preukazu z dôvodu jeho straty alebo odcudzenia,
    je občan (resp. jeho zákonný zástupca) povinný predložiť doklad preukazujúci jeho rodné číslo.
    Aby ste nemuseli chodiť na políciu viackrát, odporúčame priniesť si so sebou príslušné doklady
    (napr. rodný list alebo cestovný doklad) už pri nahlasovaní straty/krádeže občianskeho preukazu.

</p>
<p>
    Nový preukaz je možné osobne vyzdvihnúť, alebo bude doručený na adresu v rámci SR.
</p>


{% endblock %}
